/* Link for downloaded font */
@font-face {
  font-family: GiambattistaDueMille;
  src: url(GiambattistaDueMille.ttf);
}
/* Styling for the body */
body {
  background-color: rgb(52, 48, 255);
  font-family: GiambattistaDueMille, "Noto Serif Display", serif;
  font-weight: 750;
  text-shadow: 2px 1px 0px black;
  color: red;
}

/* Styling and diplay adjusments for the title oval */
#oval {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(170deg);
  width: 60%; 
  padding-top: 15%; 
  background-color: yellow;
  border-radius: 50%;
  z-index: -1; 
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 1);
}

/* Styling and diplay adjusments for the gameboard oval */
#oval2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(170deg);
  width: 75%; 
  padding-top: 25%;
  background-color: yellow;
  border-radius: 50%;
  z-index: -1;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 1);
}

/* Display for title container */
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 90vh;
}

/* Cursor change for button hover */
.btn:hover {
  cursor: pointer;
}

/* Styling for start button */
#start-button {
  z-index: 1;
  /* margin-top: 100px; */
}

/* Styling for title div */
#title {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 8rem;
  margin-bottom: 0;
  line-height: 0;
}

/* Transition from title to gameboard */
#start.playing {
  margin-top: -75vh;
  transition: margin-top 1.5s;
}

/* Flex display for game */
#start.playing + #game {
  display: flex;
}

/* Groups the columns within each row. *************do need this one*/
.row {
  display: contents; 
}

/* Styling for each column within the grid. ***************dont think i need this one test some more*/
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the entire game. */
#game {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Creates a grid layout for organizing the cards into rows and columns */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px; 
}

/* Styling for the container of each card.  */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
}

/* Change cursor on hover over game cards */
.card-container:hover {
  cursor: pointer;
}

/* Card flip transformation */
.card.flipped {
  transform: rotateY( 180deg );
}

/* Styling for each individual card.  */
.card {
  text-align: center;
  border-radius: 5%;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transition: transform .25s;
}

/* Style and positioning for card front and back */
.card-face,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid black;
  overflow: hidden;
}

/* Styling for card face image */
.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* Card flip transformation  ********************************************************************comment this out to work on end game */
.card-back {
  transform: rotateY( 180deg );
}

/* Adjust image fit in card */
.card-back > img {
  height: 100%;
  width: auto;
}

/* Current Score display */
#current-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

/* Hide end game display */
#end {
  display: none;
}

/* End game styling and display */
#end.game-over {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
}

/* Styling for end game h1 */
#end h1 {
  font-size: 8rem;
}

/* Styling for end game h4 */
#end h4 {
  font-size: 3rem;
}

/* Resources utilized excessively */
/* www.css-tricks.com  A complete Guide to CSS Grid by Chris House*/ 
/* https://3dtransforms.desandro.com/card-flip */



