/* Link for downloaded font */
@font-face {
  font-family: GiambattistaDueMille;
  src: url(GiambattistaDueMille.ttf);
}

/* Styling for the body */
body {
  background-image:
  linear-gradient(45deg, rgb(136, 129, 129) 25%, transparent 25%),
  linear-gradient(-45deg, rgb(136, 129, 129) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, rgb(136, 129, 129) 75%),
  linear-gradient(-45deg, transparent 75%, rgb(136, 129, 129) 75%);
  background-size: 25px 25px;
  font-family: GiambattistaDueMille, "Noto Serif Display", serif;
  font-weight: 750;
  text-shadow: 2px 1px 0px black;
  color: red;
}

/* Styling and diplay adjusments for the title oval */
#oval {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(170deg);
  width: 60%; 
  padding-top: 15%; 
  background-color: yellow;
  border-radius: 50%;
  z-index: -1; 
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 1);
}

/* Display for title container */
#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 90vh;
}

/* Display for start button container */
.start-button-container {
  position: relative;
}

/* Styling for start button */
#start-button {
  margin-left: 750px;
  background-color: yellow;
  color: red;
  border-radius: 50%;
  height: 50px;
  width: 125px;
  text-shadow: 1px 1px 0px black;
  font-family: GiambattistaDueMille, "Noto Serif Display", serif;
  font-size: 1.5rem;
  font-weight: 900;
  transform:rotate(350deg);
  position: relative;
  z-index: -1;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}

/* Styling for start button text */
#start-text {
  font-size: 3rem;
  position: absolute;
  transform: translate(-52%, -52%) rotate(10deg);
}

/* Cursor change for start button hover */
#start-button:hover {
  cursor: pointer;
  background-image: url('static.png');
  background-size: 20px 20px;
  color: purple;
  text-shadow: 1px 2px 0px rgb(238, 181, 38);
  
}

/* Styling for start button */
#start-button {
  z-index: 1;
}

/* Styling for title div */
#title {
  position: relative;
  font-size: 8rem;
  margin-top: 200px;
  margin-left: 100px;
  line-height: 0;
}

/* Styling for best score */
.best-score {
  font-size: 2rem;
  margin-left: -600px;
}

/* Transition from title to gameboard */
#start.playing {
  margin-top: -75vh;
  transition: margin-top 1.5s;
}

/* Flex display for game */
#start.playing + #game {
  display: flex;
  background-color: blue;
  width: 50%;
  margin-left: 25%;
}

/* Groups the columns within each row. */
.row {
  display: contents; 
}

/* Styling for the entire game. */
#game {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Creates a grid layout for organizing the cards into rows and columns */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px; 
  z-index: 2;
}

/* Styling and diplay adjusments for the gameboard oval */
#oval2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(170deg);
  width: 75%; 
  padding-top: 25%;
  background-color: yellow;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 1);
}

/* Styling for the container of each card.  */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
}

/* Change cursor on hover over game cards */
.card-container:hover {
  cursor: pointer;
}

/* Styling for each individual card.  */
.card {
  text-align: center;
  border-radius: 5%;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transition: transform .25s;
}

/* Style and positioning for card front and back */
.card-face,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid black;
  overflow: hidden;
}

/* Styling for card face image */
.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/* Card flip transformation */
.card.flipped {
  transform: rotateY( 180deg );
}

/* Card flip transformation */
.card-back {
  transform: rotateY( 180deg );
}

/* Adjust image fit in card */
.card-back img {
  height: 100%;
  width: auto;
}

/* Current Score display */
#current-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

/* Styling for flipped card */
.flipped .card-back {
  border: 3px solid red;
}

/* Styling for matched card */
.matched .card-back{
  border: 4px solid rgb(45, 214, 45);
}

/* Hide end game display */
#end {
  display: none;
}

/* End game styling and display */
#end.game-over {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,0.9);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

/* Styling for end game h1 */
#end h2 {
  font-size: 5rem;
  color: red;
  text-shadow: 1px 1px 1px yellow;
}

/* Styleing for end game gif */
.end-gif {
  border-radius: 25px;
  width: 500px;
  height: 500px;
  z-index: 2;
  border: 5px solid yellow;
}

/* Styling for end game h4 */
#end h4 {
  font-size: 3rem;
  z-index: 2;
  color: red;
  text-shadow: 1px 1px 1px yellow;
}

/* Styling for restart button */
#restart-button {
  font-size: 2rem;
  text-decoration: none;
  color: red;
  text-shadow: .5px .5px 0 yellow;
  z-index: 2;
}

/* Styling for mouse hover over restart button */
#restart-button:hover {
  color: yellow;
  text-shadow: 2px 2px 2px red;
}

/* Resources utilized */
/* www.css-tricks.com  A complete Guide to CSS Grid by Chris House*/ 
/* https://3dtransforms.desandro.com/card-flip */
/* https://stackoverflow.com/questions/35361986/css-gradient-checkerboard-pattern */
/* Photo by <a href="https://unsplash.com/@elijah_sargent?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Elijah Sargent</a> on <a href="https://unsplash.com/photos/black-flat-screen-tv-turned-on-displaying-white-screen-R2lmjzVznyI?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
/* Gifs from https://giphy.com/explore/seinfeld */

  