/* Link for downloaded font */
@font-face {
  font-family: GiambattistaDueMille;
  src: url(GiambattistaDueMille.ttf);
}
/* Styling for the body */
body {
  background-color: rgb(52, 48, 255);
  font-family: GiambattistaDueMille, "Noto Serif Display", serif;
  font-weight: 750;
  text-shadow: 2px 1px 0px black;
  color: red;
}

/* Styling and diplay adjusments for the oval */
#oval {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(170deg);
  width: 50%; /* Adjust the width as needed */
  padding-top: 20%; /* Maintain 1:2 aspect ratio */
  background-color: yellow;
  border-radius: 50%;
  z-index: -1; /* Ensure it's behind the cards */
  box-shadow: 0px -4px 0px rgba(0, 0, 0, 1);
}

/* Cursor change for button hover */
.btn:hover {
  cursor: pointer;
}

#start {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 90vh;
}

#start-button {
  z-index: 1;
  margin-top: 20px;
}

#best-score {
  margin-bottom: 20px;
}

#title {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 4rem;
  /*look into playing around or deleting */
  perspective: 600px; 
}

#title > p {
  line-height: 0.75;
  text-align: center;
}

#start.playing {
  margin-top: -90vh;
  transition: margin-top 1s;
}

#start.playing + #game {
  display: flex;
}

/* Styling for the entire game. */
.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Creates a grid layout for organizing the cards into rows and columns */
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 20px; 
}

#game {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
} 

#game .row {
  width: 100%;
}

.container {
  flex-wrap: wrap;
}

/* Styling for the container of each card.  */
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 600px;
  margin: 1rem auto;
}


.card-container:hover {
  cursor: pointer;
}


.card.flipped {
  transform: rotateY( 180deg );
}

/* Styling for each individual card.  */
.card {
  text-align: center;
  border-radius: 5%;
  height: 100px;
  width: 100px;
  transform-style: preserve-3d;
  transition: transform .25s;
}


.card-face,
.card-back {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 2px solid black;
  overflow: hidden;
}

.card-face {
  overflow: hidden;
}

.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.card-back {
  transform: rotateY( 180deg );
}

.card-back > img {
  height: 100%;
  width: auto;
}

#current-score {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

#end {
  display: none;
}

#end.game-over {
  display: flex;
  position: absolute;
  background-color: rgba(0,0,0,0.75);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: space-around;
  text-align: center;
}

#end h1 {
  font-size: 8rem;
}

#end h4 {
  font-size: 3rem;
}

/* Groups the columns within each row. */
.row {
  display: contents; 
}

/* Styling for each column within the grid. */
.column {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Resources utilized excessively */
/* www.css-tricks.com  A complete Guide to CSS Grid by Chris House*/ 
/* Photo by <a href="https://unsplash.com/@cestmoisheedy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Sarah Sheedy</a> on <a href="https://unsplash.com/photos/a-close-up-of-a-tiled-wall-with-blue-and-orange-designs-y9Tew9HVYdk?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a> */
/* https://3dtransforms.desandro.com/card-flip */



